.table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table td, .table thead tr {
    padding: 8px;
  }
  
  .table tr:nth-child(even){background-color: #f2f2f2;}
  
  .table thead tr {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a0845c	;
    color: black;
  }
  